<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Food Critic</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    <style>
    </style>
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<script th:inline="javascript">
    function mappi(long, lat) {
        $("#osm-map").remove();
        $("#mapHere").append("<div id='osm-map' style='height:300px'></div>");

        var element = document.getElementById('osm-map');

        var x = "" + long;
        var y = "" + lat;

        var cx = [[${gamestats.getLatitude()}]];
        var cy = [[${gamestats.getLongitude()}]];
        var currentLoc = cx + cy;
        var restaurants = [
            ["Restaurant",x,y],
            ["Current location",cx,cy]
        ];
        var blueIcon = L.icon({
            iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-blue.png',
            iconSize: [25, 35]
        });
        var redIcon = L.icon({
            iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-red.png',
            iconSize: [25, 35]
        });
        var map = L.map(element).setView([cx,cy], 10);
        mapLink =
            '<a href="http://openstreetmap.org">OpenStreetMap</a>';
        L.tileLayer(
            'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; ' + mapLink + ' Contributors'
            }).addTo(map);

        L.marker([restaurants[0][1],restaurants[0][2]], {icon: blueIcon})
            .bindPopup(restaurants[0][0])
            .addTo(map);
        L.marker([restaurants[1][1],restaurants[1][2]],{icon: redIcon})
            .bindPopup(restaurants[1][0])
            .addTo(map);
    }
</script>
<script>
    function moveCard(index) {
        // Tämä pyyntö ensin käynnistää metodin, joka siirtää kortin pelattujen listalle
        $.ajax("http://localhost:8080/card/" + index, {type: 'GET'});
        document.location.reload(true);
    }
</script>
<script>
    function cycleDeck(index) {
        $.ajax("http://localhost:8080/top/" + index, {type: 'GET'});
        document.location.reload(true);
    }
</script>
<script>
    function resetGame() {
        $.ajax("http://localhost:8080/reset", {type: 'GET'});
        document.location.reload(true);
    }
</script>
<script th:inline="javascript">
    function selectRestaurant(fLong, fLat, tLong, tLat, index) {
        // Kutsuu funktiota, joka katsoo tie-datasta nykyisen ja valitun ravintolan etäisyyden
        var distance = getDistance(fLat, fLong, tLat, tLong);
        // Tekee pyynnön play-osoitteeseen, joka pelaa kierroksen loppuun
        $.ajax("http://localhost:8080/play/" + index + "/" + distance, {type: 'GET'});
        document.location.reload(false);
    }
</script>
<body>
<div class="page-header text-center">
    <h1>Food Critic</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Player Stats</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p th:inline="text"><span style="color:red" class="glyphicon glyphicon-heart">   </span>
                [[${gamestats.getHealth()}
                + '/80']]</p>
        </div>
        <div class="col-sm-4">
            <p th:inline="text"><span style="color:green" class="glyphicon glyphicon-usd">   </span>
                [[${#numbers.formatDecimal(gamestats.getMoney(),
                1, 2)} + '/150.00']]</p>
        </div>
        <div th:if="${gamestats.isLastMove()}" class="hide col-sm-4">
            <p th:inline="text" th:onclick="|mappi('${gamestats.getLatitude()}','${gamestats.getLongitude()}')|"><span
                    style="color:blue" class="glyphicon glyphicon-map-marker">   </span> Current location </p>
        </div>
        <div th:unless="${gamestats.isLastMove()}" class="hide col-sm-4">
            <p th:inline="text" th:onclick="|mappi('${gamestats.getLatitude()}','${gamestats.getLongitude()}')|"><span
                    style="color:blue" class="glyphicon glyphicon-map-marker">   </span> Times Square </p>
        </div>
        <div class="col-sm-4">
            <button class="btn-primary" onclick="resetGame()">Start New Game</button>
        </div>
    </div>
    <div class="row">
        <div th:if="${gamestats.isLastMove()}" class="alert alert-success fade in col-sm-12">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Your Action: </strong>You traveled <span
                th:text="${#numbers.formatDecimal(gamestats.getLastMove().getDistanceInMiles(),1,1)}"></span> miles with
            Uber, which cost you $<span
                th:text="${#numbers.formatDecimal(gamestats.getLastMove().getUsedMoney(),1,2)}"></span>. You dined at
            <strong th:text="${gamestats.getLastMove().getRestaurantName()}"></strong>, which cost you <span
                th:text="${gamestats.getLastMove().getUsedHealth()}"></span> points of health.
        </div>
        <div th:unless="${gamestats.isLastMove()}" class="alert alert-info fade in col-sm-12">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Your Goal: </strong>You work as a food critic in New York: you eat for free, but you have a travel
            budget. Being a busy person, you use Uber to travel from one restaurant to another. Eating a lot every day
            is unhealthy, particularly if you eat in a place that hasn't performed well in health inspections, so watch
            out also for your health! You have five randomized missions, which you can complete in any order, but since
            transportation is costly, plan wisely.
        </div>
    </div>
    <div class="row" th:if="${gamestats.isGameOver()}">
        <div th:if="${gamestats.getGameover().getMoneyLeft()}lt 0" class="alert alert-danger fade in col-sm-12">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Game Over: </strong>You have run out of money and can't pay for the trip! The Uber driver calls the
            police, who takes you away!
        </div>
        <div th:if="${gamestats.getGameover().getHealthLeft()}lt 1" class="alert alert-danger fade in col-sm-12">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Game Over: </strong>You keel over, feeling sick in the stomach! You have run out of health points!
        </div>
        <div th:if="${gamestats.getGameover().isWin()}==true" class="alert alert-info fade in col-sm-12">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>You Win: </strong>Congratulations! You have successfully completed all your missions!
        </div>
    </div>
    <div id="main" class="row">
        <div class="col-sm-6">
            <h3>In Hand</h3>
            <div id="hand" class="field" style="background-color: #DDD">
                <div class="card slidable" th:each="card,iter: ${gamestats.hand}" th:id="${card._id}">
                    <div class='inner'>
                        <div class="title" th:text="${card.title}" th:onclick="|cycleDeck('${iter.index}')|"></div>
                        <div class="illo"><img class='pic center' th:src="${card.imageurl}"
                                               th:onclick="|moveCard('${iter.index}','${card.borough}','${card.cuisine}','${card.name}')|">
                        </div>
                        <div class="story" th:text="${card.story}"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <h3>In Play</h3>
            <div id="play" class="field" style="background-color: #DDD">
                <div class="card slidable" th:each="card,iter: ${gamestats.playedMissions}" th:id="${card._id}">
                    <div class='inner'>
                        <div class="title" th:text="${card.title}"></div>
                        <div class="illo"><img class='pic center' th:src="${card.imageurl}"></div>
                        <div class="story" th:text="${card.story}"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h3>Restaurants</h3>
            <table id="table" class="table">
                <thead>
                <th>Restaurant</th>
                <th>Address</th>
                </thead>
                <tbody>
                <tr class="slidable noselect" th:if="${gamestats.isMissionMode()}==true"
                    th:each="restaurant, iter: ${gamestats.getRestaurantList()}"
                    th:onclick="|mappi('${restaurant.getLatitude()}','${restaurant.getLongitude()}')|">
                    <td th:text="${restaurant.name}"></td>
                    <td th:text="${restaurant.address.street}"></td>
                    <td>
                        <button class="btn-primary"
                                th:onclick="|selectRestaurant('${gamestats.getLongitude()}','${gamestats.getLatitude()}','${restaurant.getLongitude()}','${restaurant.getLatitude()}','${iter.index}')|">
                            Go!
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="mapHere" class="col-sm-6">
            <h3>Map View</h3>
        </div>
    </div>
</div>
<footer style="padding:3em">Copyright 2018 Mikko, Elmo ja Pirjo</footer>

<script th:inline="javascript">
    var lat = [[${gamestats.getLatitude()}]];
    var long = [[${gamestats.getLongitude()}]];
    window.onload = mappi(lat, long), reset;

    function reset() {
        window.scrollTo(0, 0);
    }
</script>
<script type="text/javascript" th:src="@{/js/distance.js}"></script>
</body>
</html>